.mobile-menu {
  background-color: $clr-white;
  color: $clr-black;
  height: 100%;
  left: 0;
  max-width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  opacity: 0;
  overflow: auto;
  padding-bottom: 100px;
  padding-top: calc($header-height);
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: $transition-default;
  visibility: hidden;
  width: 100vw;
  z-index: 10;

  .menu-social {
    font-size: 0.875rem;
    line-height: 36px;
    margin: 25px 0;
  }

  .menu-contact {
    font-size: 0.875rem;
    line-height: 24px;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
