.vertical-carousel {
  max-width: 100%;
  // height: 100vh;
  width: 100vw;

  .swiper-container {
    background-color: $clr-white;
    // height: 100vh;
    // overflow: hidden;
    transition: all 0.5s ease;
  }

  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    width: 100%;
    .slide-media {
      height: 100%;
      width: 100%;
      z-index: 0;
      img,
      video {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }

  .slide-title {
    background-color: $clr-white;
    color: $clr-black;
    transition: all 0.5s ease;
    h2 {
      font-size: clamp(1.25rem, -0.1144rem + 5.8216vw, 5.125rem);
      letter-spacing: -0.03em;
      padding-bottom: 0.4em;
    }
  }

  @include for-size($tablet-portrait-up) {
    height: 100vh;
    .swiper-container {
      height: 100vh;
      overflow: hidden;
    }

    .swiper-slide {
      padding-top: 100px;
    }

    .slide-title {
      h2 {
        font-weight: 400;
        letter-spacing: -0.04em;
      }
    }
  }
}
