.burger {
  background: transparent;
  border: 0;
  color: $clr-white;
  padding: 0;
  &__line {
    background-color: $clr-white;
    display: block;
    height: 2px;
    mix-blend-mode: difference;
    transition: $transition-default;
    width: 24px;
    &--2 {
      margin: 10px 0;
    }
  }

  &.active {
    .burger__line {
      &--1 {
        transform: translateY(12px) rotate(45deg);
      }

      &--2 {
        opacity: 0;
      }

      &--3 {
        transform: translateY(-12px) rotate(-45deg);
      }
    }
  }

  @include for-size($tablet-portrait-up) {
    display: none;
  }
}
