.btn {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
  transition: color 0.5s ease;
  &--white {
    color: $clr-white;
  }
  &--underline {
    text-decoration: underline;
  }
  @include for-size-minmax($tablet-portrait-up, $tablet-landscape-up) {
    font-size: 1.125rem;
  }
}
